data1.bin
data2.bin
data3.bin
data4.bin
data5.bin
nodos.bin
metadata/archivos/
Release/
Debug/
*.log
*.dat
yama/config_yama
filesystem/config_filesystem
datanode/config_node1
datanode/config_node2
datanode/config_node3
datanode/config_node4
master/config_master
yama/yama.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
